

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

nav{
    display: flex;
    justify-content: center;
    padding: 20px;
   
}

nav ul{
    display: flex;
    
}

nav ul li{
    margin: 0px 52px;
    list-style: none;
  
}

a{
    text-decoration: none;
    color: white;
}

/*.nav:hover{
    background-color: #F283B6;
    padding: 20px;

}*/
a.nav {
    font-size: 22px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    padding: 0 0 3px;
  }
  
  a.nav:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: #F283B6;
    transition: left .9s;
  }
  
  a.nav:hover:after {
    left: 0;
  }

  .titulo-exp {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    padding: 0 0 3px;
  }
  
  .titulo-exp:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: #F283B6;
    transition: left .9s;
  }
  
  .titulo-exp:hover:after {
    left: 0;
  }

.inicio{
    display: flex;
    flex-direction: row-reverse;
    border: solid 4px #fff;
    border-radius: 27px;
    padding: 35px;
    color: #fff;
}
.inicio:hover{
    box-shadow: 20px 17px 0px 0px #000;
    transition: 2s;
}
.nome{
    font-size: 40px;
    color: white;
    text-align: center;
}
.sob{
    color: #fff;
    font-size: 56px;
}

.btn{
    width: 150px;
    padding: 10px;
    border-radius: 14px;
    border: none;
    margin: 13px 0px;
    background-color: #6E9887;

}
.btn:hover{
    background-color: #F283B6;
}

.sobre{
    display: flex;
    margin: auto;
    padding: 100px;
    width: 60%;
}
.ctt{
    color: black;
    display: block;
}
img{
    width: 300px;
    border-radius: 15px;
}

.experiencias{
    display: flex;
    width: 85%;
    align-items: center;
    margin: auto;
}
.experiencias .formacao{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}
.experiencias .formacao .titulo{
    text-align: center;
    padding: 17px 0;
    font-size: 25px;
    color: #fff;
}
.experiencias .formacao .conteudo-formacao{
    display: flex;
    flex-direction: column;
    width: 62%;
    background-color: #ffffff6e;
    border-radius: 20px;
    margin-bottom: 57px;
    color: #fff;
}

.container-exp{
    margin: 0px 10px;
    width: 40%;
}
.conteudo-exp{
    padding: 25px;
}
  .sessao-projetos{
    padding: 60px 0px;
}

.projetos{
    margin-bottom: 50px;
}
/*.card-proj:hover{
    border:solid 6px #F283B6;
    transition: 2s;

}*/
.projetos .titulo{
    text-align: center;
    padding: 17px 0;
    font-size: 25px;
    color: #fff;
}
.projetos .container-proj{
    display: flex;
    justify-content: space-evenly;
}
.projetos .container-proj .card-proj{
    width: 18%;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff54;
    padding: 29px 0;
    color: #fff;
   /* justify-content: space-between;*/
}

.projetos .container-proj .card-proj .img img{
    width: 208px;
}
.projetos .container-proj .card-proj .texto{
    width: 73%;
}
.projetos .container-proj .card-proj a{
    text-decoration: none;
    color: white;
    /*width: 91%;*/
    background-color: #d16ba5;
    display: flex;
    padding: 9px 81px;
    border-radius: 6px;
    margin-top: 15px;
    justify-content: center;
}
.projetos .container-proj .card-proj .btn-link{
    display: flex;
    height: 100%;
    align-items: flex-end;
    
}
.hab .titulo{
    text-align: center;
    padding: 17px 0;
    font-size: 25px;
    color: #fff;
}

.hab1, .hab2, .hab3{
    display: flex;
    justify-content: center;
}
.card-hab{
    background-color: #ffffff63;
    width: 10%;
    border-radius: 10px;
    margin: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 57px;
}
.card-hab:hover{
    box-shadow: 1px 0px 20px 4px #00000070;
}
.card-hab img{
    width: 111px;
    border-radius: 15px;
    display: flex;
}
.card-hab li{
    list-style: none;
}
.contato{
    display: flex;
    justify-content: center;
}
.redes{
    display: flex;
    flex-direction: column;
}

fieldset{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}
footer{
    margin-top: 100px;
    text-align: center;
    background-color: #ffffff33;
    padding: 20px;
}