

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: #f4f0ea ;
}

nav{
    display: flex;
    justify-content: end;
    padding: 20px;
    background-color: #6E9887;
}

ul{
    display: flex;
    
}

li{
    margin: 0px 10px;
    list-style: none;
  
}

a{
    text-decoration: none;
    color: white;
}

.nav:hover{
    background-color: #F283B6;
    padding: 20px;

}


.inicio{
    text-align: center;
    padding: 60px 0px;
    background-image: radial-gradient(#6E9887, #F283B6);
}

.btn{
    width: 150px;
    padding: 10px;
    border-radius: 14px;
    border: none;
    margin: 13px 0px;
    background-color: #6E9887;

}
.btn:hover{
    background-color: #F283B6;
}

.sobre{
    display: flex;
    margin: auto;
    padding: 100px;
    width: 60%;
}
.ctt{
    color: black;
    display: block;
}
img{
    width: 300px;
    border-radius: 15px;
}

.div-img{
    margin-right: 20px;
}
.formac{
    display: flex;
    justify-content: center;
}
.formacao{
    display: flex;
    /*justify-content: center;8*/
    width: 60%;
    align-items: center;
}

.container{
    margin: 10px;
    width: 30%;
}
aside{
   /* margin-right: 10px;
    margin-left: 6%;*/
}

.exp{
    display: flex;
    width: 90%;
    margin: auto;
}
.titulo-exp{
    font-size: 30px;
    padding-left: 10px;
    color: #F283B6;
}
.container-exp{
    margin: 0px 10px;
    width: 40%;
}
.conteudo-exp{
    padding: 25px;
}
  .sessao-projetos{
  /*padding: 10px;
    margin: 80px 0px;*/ 
}

.projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text-pro{
    margin-left: 6%;
    font-size: 30px;
    font-weight: 600;
    color: #F283B6;
}
/*.lado1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.lado1, .lado2{
    width: 86%;
    display: flex;
   align-items: center;
}

.card{
    padding: 20px;
    display: flex;
    width: 75%;
    align-items: center;
}
.img-projetos{
    width: 200px;
    object-fit: contain;

}

.btn-pro{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
    background-color: #6E9887;
}
.btn-pro:hover{
    background-color: #F283B6;
    box-shadow: 3px 1px 7px 3px #00000059;
    border: solid 1px #e27aaa;
    color: white;
}

.conteudo{
    padding-left: 15px;
}

.hab{
   /* width: 80%;
    margin: auto;
    padding: 10px 30px;
    display: flex;*/
    margin-bottom: 80px;
}
.img-hab{
    width: 100px;
}
.img-hab:hover{
    box-shadow: 0px 0px 7px 2px #000000b3;
}

.hab1, .hab2{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.card-hab{
    width: 12%;
}
.contato{
    display: flex;
    justify-content: center;
}
.redes{
    display: flex;
    flex-direction: column;
}


fieldset{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}
footer{
    text-align: center;
    margin-top: 300px;
    background-color: #6E9887;
    padding: 20px;
}